# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "6afd7761a94353d9cb07721165972926"
name = "fulfillment-simulation"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products write_fulfillments read_assigned_fulfillment_orders write_assigned_fulfillment_orders read_locations write_locations read_inventory write_inventory"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
